<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Mlab Court Counter</ion-title>
        <ion-buttons slot="end">
            <ion-button type="submit" (click)="authService.SignOut()" expand="block">
                <ion-icon name="log-out"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-img src="assets/images/home.jpg">
            <ion-label>Provide Team Names</ion-label>
        </ion-img>
    </ion-card>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Team-A:</ion-label>
                    <ion-input></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Team-B</ion-label>
                    <ion-input></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
    <form>
        <ion-item lines="full">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="text" #email required></ion-input>
        </ion-item>
        <ion-item lines="full">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" #password required></ion-input>
        </ion-item>

        <ion-row>
            <ion-col>
                <ion-button type="submit" (click)="logIn(email, password)" expand="block">Court Count</ion-button>
            </ion-col>
        </ion-row>
    </form>

</ion-content>