<ion-header>
    <ion-toolbar color='primary'>

        <ion-buttons slot="start">
            <ion-menu-button>

            </ion-menu-button>
        </ion-buttons>
        <ion-title>Detail</ion-title>


        <ion-buttons slot="end">
            <ion-button fill="clear">
                <ion-icon name="cart"></ion-icon>
            
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-card>
    <div class="ion-padding">
      <ion-item>
        <ion-label position="floating">Enter Mobile Number</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <div class="small-vertical-height"></div>
      <ion-item>
        <ion-label position="floating">Enter Password</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <div class="small-vertical-height"></div>
      <div class="reverse-flex">
        <ion-label>Forgot password ?</ion-label>
      </div>
      <div class="vertical-height"></div>
      <ion-button expand="full" fill="solid">Login</ion-button>
    </div>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-label color="secondary">Or Login with social network</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-right">
        <ion-button color="primary">
          <ion-icon slot="start" name="logo-facebook"></ion-icon>
          Facebook
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-left">
  
        <ion-button color="danger">
          <ion-icon slot="start" name="logo-google"></ion-icon>
          Google
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
<!-- 
<ion-content>
    <div *ngFor="let cat of items" class="category-block">

        <ion-row no-padding class="category-banner">
            <ion-col text-left button tappable (click)= "cat.expanded = !cat.expanded" align-self-center>
                {{ cat.category }}
            </ion-col>
        </ion-row>

        <ion-slides [options]="sliderConfig">
            <ion-slide *ngFor="let product of cat.products">
                <div *ngIf="cat.expanded">
                    <ion-card>
                            <ion-card-title>
                                {{ product.name }} - {{ product.price | currency:'R':'symbol'}}
                            </ion-card-title>
                            <ion-card-content>
                                
                            </ion-card-content>
                            <ion-button expand="full" (click)="addToCart(product)"> Add to Cart</ion-button>
            
                    </ion-card>
                </div>
            </ion-slide>
        </ion-slides>
    </div>
</ion-content> -->