<!-- <ion-header>
    <ion-toolbar color='primary'>
        <ion-buttons slot="start">
            <ion-menu-button>
              <ion-icon name="apps"></ion-icon>
            </ion-menu-button>
        </ion-buttons>
        <ion-title>
            Delivery Service
        </ion-title>
        <ion-buttons slot="end">
            <ion-button fill="clear">
                <ion-icon name="cart"></ion-icon>
                 <ion-badge>0</ion-badge> 
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header> -->
<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button>
                <ion-icon name="apps"></ion-icon>
            </ion-menu-button>
        </ion-buttons>


        <ion-title>
            Delivery Service App
        </ion-title>

        <ion-button color="dark" size="small" slot="end" (click)="openCart()" #cart>

            {{ cartItemCount | async }}
            <ion-icon name="cart" slot="end"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-segment scrollable [value]="selectedCategory" (ionChange)="onCategoryTabChange($event)">
    <ion-segment-button *ngFor="let category of categories" [value]="category">
        {{category}}
    </ion-segment-button>
</ion-segment>

<ion-content>
    <ion-card *ngFor="let product of viewProducts">
        <ion-card-content class="no-padding" (click)="onProductClick(product)">
            <img [src]="product.imgPath" height="200px" width="100%" alt="image">
        </ion-card-content>
        <!-- <ion-card-header>
            <ion-card-subtitle>{{product.name}}</ion-card-subtitle>
            <ion-card-title>{{product.price | currency: 'R' }}</ion-card-title>
            <ion-button color="dark" size="small" (click)="addToCart(product)">
                +
                <ion-icon name="cart" slot="end"></ion-icon>
            </ion-button>
        </ion-card-header> -->
        <ion-grid>
            <ion-row>
                <ion-col size="6">
                    {{product.name}}
                </ion-col>
                <ion-col size="3" class="ion-text-center">
                    <ion-card-title> {{product.price | currency: 'R' }}</ion-card-title>
                </ion-col>
                <ion-col size="3">
                    <ion-button color="primary" size="small" (click)="addToCart(product)">
                        +
                        <ion-icon name="cart" slot="end"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
</ion-content>




<!-- <ion-content [fullscreen]="true">
    <ion-list>
        <ion-card *ngFor="let item of products">
            <ion-card-header>
                <ion-card-title>{{item.name}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-row>
                    <ion-col size="6">
                        <ion-col>
                            <img [src]="item.imgPath" height="200px" width="100%" alt="image"></ion-col>
                        <ion-label color="secondary">
                            <b>{{ item.price | currency: 'R' }}</b>
                        </ion-label>

                    </ion-col>
                    <ion-col size="4" class="ion-text-right">
                        <ion-button color="dark" size="small" (click)="addToCart(item)">
                            +
                            <ion-icon name="cart" slot="end"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content> -->

<!-- <ion-content>

  <div *ngFor="let cat of items" class="category-block">
    <ion-label align-self-center>{{ cat.category }} </ion-label>
    <ion-list>  
      <ion-card *ngFor="let product of cat.products">
      <ion-grid>
        <ion-row class="ion-align-items-center">
            <ion-col >
                <img src="https://via.placeholder.com/300x300">
            </ion-col>
            <ion-col class="ion-text-end">
              <h3>{{product.name}} {{product.price  | currency:'R':'symbol'}} </h3>
              <ion-label> Description: </ion-label>
            </ion-col>

            <ion-button (click)="addToCart(product)"> + </ion-button>
        </ion-row>
    </ion-grid>
        </ion-card>
      </ion-list>
     
    </div>
</ion-content> -->



<!-- <ion-content class="ion-padding">


    <ion-item>

        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" [(ngModel)]="cat.name"> </ion-input>
    </ion-item>

    <ion-item>

        <ion-label position="floating">Colour</ion-label>
        <ion-input type="text" [(ngModel)]="cat.colour"></ion-input>
    </ion-item>
    <ion-item>

        <ion-label position="floating">Age</ion-label>
        <ion-input type="number" [(ngModel)]="cat.age"></ion-input>
    </ion-item>

    <ion-button expand="full" color="secondary" (click)="submit()">Submit</ion-button>

    <ion-button expand="full" color="dark" (click)="goNext()">Next Page</ion-button>

    <div *ngIf="cartList.length> 0">

        <div *ngFor="let cart of cartList">
            {{cart.name}} {{cart.colour}} {{cart.age}}
        </div>
    </div>

</ion-content> -->